<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= content_for?(:title) ? yield(:title) : 'Garage Helper' %></title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>

</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_command_list">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <%= link_to "Garage Helper", root_path, class: 'navbar-brand' %>
      </div>
      <div class="collapse navbar-collapse" id="nav_command_list">
          <ul class="nav navbar-nav">
            <li><%= link_to "Status", garage_status_path, class: 'btn btn-default' %></li>
            <li><%= link_to "History", garage_history_path, class: 'btn btn-default' %></li>
            <li><%= link_to "Summary", garage_summary_path, class: 'btn btn-default' %></li>
            <li><%= link_to "Reload", "#", data: { reload_link: true }, class: 'btn btn-default' %></li>
            <li><%= link_to "Press Garage Button", garage_push_door_opener_path, method: :post, class: 'btn btn-default', data: { confirm: "Are you sure you want to press the garage door button?" } %></li>
          </ul>
      </div>
  </div>
</nav>

<div class="container">
  <%= render partial: 'layouts/flash' %>
  <%= yield %>
</div>

<%= javascript_include_tag 'application' %>
<%= yield :javascript %>
</body>
</html>
