<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= content_for(:title, 'Garage Helper') %></title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>

</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <%= link_to "Garage Helper", root_path, class: 'navbar-brand' %>
  </div>
  <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Status", garage_status_path %></li>
        <li><%= link_to "History", garage_history_path %></li>
        <li><%= link_to "Press Garage Button", "#" %></li>
      </ul>
  </div>
</nav>



<div class="container">
  <%= yield %>
</div>

<%= javascript_include_tag 'application' %>
</body>
</html>
